.comments {
    width: calc(100% - 96px);
    margin: 102px 48px 0 48px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .comments {
        width: calc(100% - 108px);
        margin: 102px 54px 0 54px;
    }
}

@media screen and (max-width: 767px) {
    .comments {
        width: calc(100% - 32px);
        margin: 64px 16px 0 16px;
    }
}
