.video__content-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    width: calc(100% - 384px);
}

@media  (min-width: 1024px) and (max-width: 1279px) {
    .video__content-title {
        width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__content-title {
        /*width: calc(100% - 277%);*/
        /*margin: 0 162px;*/
        font-size: 42px;
        line-height: 46px;
        width: 433px;
    }
}

@media screen and (max-width: 767px) {
    .video__content-title {
        /*margin: 0;*/
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}