.comment__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    width: calc(100% - 96px);
    margin: 72px 48px 0 48px;
    column-gap: 19px;
}