.cover__subtitle {
    margin: 32px auto auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 360px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        margin: 16px auto auto;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        margin: 16px auto auto;
        font-size: 14px;
        line-height: 16px;
    }
}