.video {
    width: calc(100% - 96px);
    margin: 102px auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video {
        width: calc(100% - 48px);
        margin: 95px auto;
    }
}

@media screen and (max-width: 767px) {
    .video {
        width: calc(100% - 32px);
        margin: 64px auto;
    }
}