.header__logo {
    background-image: url("../../../images/header-logo.svg");
    background-size: 100% 100%;
    min-width: 176px;
    min-height: 52px;
    display: flex;
}

@media screen and (max-width: 320px) {
    .header__logo {
        min-width: 142px;
        min-height: 42px;
    }
}

