.header {
    height: 52px;
    margin: 0 48px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0 16px;
        padding-top: 16px;
    }
}