.video__item {
    border-radius: 5px;
    position: relative;
    height: 323px;
    overflow: hidden;
}

.cover:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
}

@media  (min-width: 1024px) and (max-width: 1279px) {
    .video__item {
        height: 288px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__item {
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .video__item {
        height: 192px;
    }
}