.lead__title {
    width: calc(100% - 264px);
    /*width: 720px;*/
    margin: 0 132px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    /*min-height: 200px;*/
}

@media  (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        width: calc(100% - 208px);
        margin: 0 104px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        width: calc(100% - 48px);
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: calc(100% - 32px);
        margin: 0 14px 0 18px;
        font-size: 40px;
        line-height: 44px;
        /*width: 288px;*/
    }
}

