.lead__title {
    width: calc(100% - 560px);
    margin: 0 280px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .lead__title {
        width: calc(100% - 304px);
        margin: 48px 152px 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .lead__title {
        width: calc(100% - 48px);
        margin: 48px 24px 0;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .lead__title {
        width: calc(100% - 32px);
        margin: 48px 16px 0;
        font-size: 40px;
        line-height: 44px;
    }
}

/*@media screen and (max-width: 320px) {*/
/*    .lead__title {*/
/*        margin: 48px 16px 0 16px;*/
/*        font-size: 40px;*/
/*        line-height: 44px;*/
/*        width: 288px;*/
/*    }*/
/*}*/
