.video__duration {
    margin: 94px 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .video__duration {
        margin: 54px 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__duration {
        margin: 17px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .video__duration {
        margin: 23px 0 0;
    }
}