.footer__links {
    display: flex;
    justify-content: space-between;
    /*list-style: none;*/
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
    }
}