.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: end;*/
        /*justify-content: left;*/
        line-height: 14px;
        /*margin-top: 370px;*/
        /*align-items: flex-end;*/
        /*margin-left: -300px;*/

    }
}
