.lead__image {
    margin-top: 64px;
    /*width: calc(100% - 296px);*/
    /*height: auto;*/
    width: 100%;
    min-height: 615px;
    /*margin: 64px 148px 148px 0;*/
}

@media  (min-width: 1024px) and (max-width: 1279px)  {
    .lead__image {
        margin-top: 56px;
        width: 100%;
        min-height: 580px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        margin-top: 56px;
        min-height: 480px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        margin-top: 40px;
        width: 100%;
        min-height: 200px;
    }
}