.intro {
    min-width: 690px;
    min-height: 429px;
    margin: 0 442px 0 148px;
    color: #FFFFFF;
    text-align: left;
}
@media screen and (max-width: 1024px) {
   .intro {
       margin: 0 286px 0 48px;
   }
}