.lead__subtitle {
    margin: 32px auto 0;
    width: calc(100% - 344px);
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}

@media  (min-width: 1024px) and (max-width: 1279px) {
    .lead__subtitle {
        width: calc(100% - 172px);
        margin-top: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__subtitle {
        width: calc(100% - 128px);
        margin-top: 32px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: calc(100% - 32px);
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 0;
    }
}