.cover {
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    margin: 92px 48px 0 48px;
    width: 1184px;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}
