.video__subtitle {
    margin: 18px 0 0;
    color: #FFFFFF;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .video__subtitle {
        margin: 12px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .video__subtitle {
        margin: 2px 0 0;
    }
}